.container {
  display: flex;
  flex-direction: row;
  min-height: 87vh;
  width: 100%;
  &__left {
    width: 20%;
    background: #662323;
  }
  &__right {
    width: 80%;
    &__container {
      padding: 20px 50px;
      background: white;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    &__right {
      &__container {
        padding: 0px;
        width: 100%;
      }
    }
  }
}
